---
interface Props {
  name: string;
  link: string;
  href: string;
  type: 'Personal' | 'Work' | 'Open Source' | 'Freelance';
  year: string;
}

const {
  name,
  link,
  href,
  type,
  year,
} = Astro.props;
---

<div class="w-full flex flex-col">
  <div class="flex justify-between">
    <h4>
      <span>{name}</span>

      <span>@</span>

      <a
        target="_blank"
        href={href}
        class="group/link text-primary"
      >
        {link}

        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
            class="ml-1 transition-transform translate-y-px icon-size-4 shrink-0 group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none"
          >
            <path fill-rule="evenodd" d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z" clip-rule="evenodd"></path>
        </svg>
      </a>
    </h4>

    <div class="badge badge-primary">
      {type}
    </div>
  </div>

  <p class="mt-1 text-xs text-neutral">
    {year}
  </p>

  <slot />
</div>
