---
import { SITE } from "@config";
import "@styles/index.css";

export interface Props {
  title?: string;
  author?: string;
  description?: string;
}

const {
  title = SITE.title,
  author = SITE.author,
  description = SITE.description,
} = Astro.props;

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- General Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="author" content={author} />

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />

    <!-- Scripts -->
    <script is:inline src="/toggle-theme.js"></script>
  </head>

  <body>
    <slot />
  </body>
</html>
