---
import { SITE } from '@/config';
import '@/styles/index.css';

export interface Props {
  title?: string;
  author?: string;
  description?: string;
  url?: string;
}

const {
  title = SITE.title,
  author = SITE.author,
  description = SITE.description,
  url = SITE.url,
} = Astro.props;

---

<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- General Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="author" content={author} />

    <!-- Open Graph / Facebook -->
    <meta property="og:url" content={url} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

    <!-- Scripts -->
    <script is:inline src="/toggle-theme.js"></script>
  </head>

  <body class="bg-base-100 xl:bg-base-200 print:!bg-transparent">
    <page size="A4" class="relative w-full flex-auto sm:flex-none mx-auto max-w-7xl xl:my-12 print:!max-w-none print:!mx-0 print:!my-0">
      <slot />
    </page>
  </body>
</html>
